{% extends 'layout/base.html' %}
{% block title %} Home {% endblock %}
{% block content%}
<div class="w-100"
    style="height:160px; background-image: url(https://www.londoncalling.com/images/uploads/feature_images/370775225_87b540808b_z.jpg);">
</div>
<div class="album bg" style="margin-top: -2em;">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="40%" y="50%" fill="#eceeef" dy=".3em" class="h2">G8 - G9</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div><br>
{% endblock %}
