{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Plans{% endblock title %}
{% block content %}
<main id="main">

  <!-- =======Plans Section ======= -->
  <br /><br /><br /><br /><br /><br />
  <section class="container">
    <div class="row">

      <div class="col-4">
        <form method="post" action="" class="card">
          {% csrf_token %}
          <input type="hidden" name="plan" value="basic">
          <input type="hidden" name="amount" value="20">
          <div class="card-header">
            <p class="h4 text-center text-muted">Basic</p>
          </div>
          <div class="card-body">
            <p class="h6 text-dark text-center">$20/day</p>
            <ul class="list-group">
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-primary w-100"><i class="bi bi-cash"></i> Reserve</button>
        </form>
      </div>

      
      <div class="col-4">
        <form method="post" action="" class="card">
          {% csrf_token %}
          <input type="hidden" name="plan" value="pro">
          <input type="hidden" name="amount" value="35">

          <div class="card-header">
            <p class="h4 text-center text-muted">Pro</p>
          </div>
          <div class="card-body">
            <p class="h6 text-dark text-center">$35/day</p>
            <ul class="list-group">
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-x-circle mx-2 text-danger"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-x-circle mx-2 text-danger"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-primary w-100"><i class="bi bi-cash"></i> Reserve</button>

        </form>
      </div>

      
      <div class="col-4">
        <form method="post" action="" class="card">
          {% csrf_token %}
          <input type="hidden" name="plan" value="premium">
          <input type="hidden" name="amount" value="50">
          <div class="card-header">
            <p class="h4 text-muted text-center">Premium</p>
          </div>
          <div class="card-body">
            <p class="h6 text-dark text-center">$50/day</p>
            <ul class="list-group">
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
              <li
                class="list-group-item px-4 border-0 d-flex justify-content-start align-items-center">
                <i class="bi bi-check-circle mx-2 text-success"></i>
                Cras justo odio
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-primary w-100"><i class="bi bi-cash"></i> Reserve</button>
        </form>
      </div>

    </div>
  </section><!-- End About Section-->
{% block footer %}{% endblock %}
</main><!-- End #main -->
{% endblock content %}