    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel swiper position-relative">
      <div class="swiper-wrapper">
        <div class="swiper-slide  intro-item bg-image" style="background-image: url(static/assets/img/post-8.jpg); margin-top: 1.5em;">
          <div class="overlay"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">A parking slot platform you've all been waiting,
                        <br> now at your service
                      </p><br><br><br><br>
                      <h1 class="intro-title mb-4 mt-4">
                        <span class="color-b">
                          Get Started 
                        </span>
                        <br> <p class="h2 text-">Parking slot system</p> 
                      </h1>
                      <p class="intro-subtitle intro-price">
                        <a href="#airports"><span class="price-a">Reserve Slot</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Intro Section -->
